<ion-header>
  <ion-toolbar>
    <ion-title>Gráficas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas baseChart 
  [datasets]="chartData" 
  [labels]="chartLabels" 
  [options]="chartOptions" 
  [colors]="chartColors"
  [legend]="showLegend" 
  [chartType]="chartType">
  </canvas>

  <canvas baseChart 
  [datasets]="chartData" 
  [labels]="chartLabels" 
  [options]="chartOptionsV" 
  [colors]="chartColorG"
  [legend]="showLegend" 
  [chartType]="chartType">
  </canvas>

</ion-content>
