<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="custom"></ion-menu-button>
    </ion-buttons>
    <ion-title>Detector (IA)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label color="medium">
    Testing
  </ion-label>

  <div class="ion-padding">
    <ion-button color="primary" icon-start expand="block" type="submit" (click)="tomarFoto()">
      <ion-icon name="aperture"></ion-icon>
      Camara
    </ion-button>
  </div>

  <div class="ion-padding">
    <ion-button color="primary" icon-start expand="block" type="submit" (click)="foto_64()">
      <ion-icon name="aperture"></ion-icon>
      Galería
    </ion-button>
  </div>
  <div class="ion-padding">
    <ion-button color="primary" icon-start expand="block" type="submit" (click)="postImagen()">
      <ion-icon name="aperture"></ion-icon>
      mAIz
    </ion-button>
  </div>
  <ion-img class="your-img" [src]="pic"></ion-img>
  <ion-label position="floating" color="medium">
    Etapa:{{etapa}}
  </ion-label>
  
</ion-content>