<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="custom"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Cultivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor='let cultivo of arrayCultivos' >
    <ion-card-header>
      <ion-card-subtitle>ID:{{cultivo.plantioid}}</ion-card-subtitle>
      <ion-card-title>Nombre: {{cultivo.nombreplantio}}</ion-card-title>
    </ion-card-header>
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <div class="ion-text-center">
            <ion-icon color="primary" name="location-outline"></ion-icon>
            <div>{{cultivo.ubicacionplantio}}</div>
          </div>
        </ion-col>
        <ion-col center text-center>
          <div class="ion-text-center">
            <ion-icon color="primary" name="calendar-clear-outline"></ion-icon>
            <div>{{cultivo.fechaplantio}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-footer>

    <ion-select (ionChange)="accion( $event, cultivo.plantioid)" cancel-text="Cancelar" interface="action-sheet">
      <ion-select-option>Nuevo Registro</ion-select-option>
      <ion-select-option>Gráficas</ion-select-option>
      <ion-select-option>Historial</ion-select-option>
    </ion-select>
  </ion-card>
</ion-content>